@using Blazored.Toast.Configuration
@inherits LayoutComponentBase
@inject ILocalStorageService ILocalStorageService
@inject NavigationManager Navi

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button @onclick="Logout" class="btn btn-danger">Logout</button>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
    @*//////NOT WORKING*@
        <BlazoredToasts Position="ToastPosition.TopRight"
                Timeout="10"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug"
                ShowProgressBar="true"/>
</div>
@code{
    private async Task Logout()
    {
        await ILocalStorageService.RemoveItemAsync("authToken");
        Navi.NavigateTo("/", true);
    }


}